Ans1:-
Tuple() in Python refers to one of the four built-in data types in Python that are used to store collections of objects separated by commas within a single variable. 

Characteristics of Tuples

Tuples have the given characteristics:

They are indexed

Tuples are ordered

These are immutable

They can contain duplicate items


yes tuples are immutable that means you can't change the object's state after you've created it.

Ans2:-
There are two built-in methods for tuples in Python:

1st function is count(): This method returns the number of times a specified value appears in the tuple.

Example:

In [1]:
t = (1, 2, 3, 2, 4, 2, 5)
print(t.count(2))

3

2nd function is index(): This method returns the index of the first occurrence of a specified value in the tuple.

Example:

In [3]:
t = (1, 2, 3, 2, 4, 2, 5)
print(t.index(1))

0

Tuples have only two in-built methods, unlike lists, because tuples are immutable, meaning their contents cannot be modified after they are created. Therefore, methods like append() or remove() that modify the tuple are not useful for tuples. In contrast, lists are mutable, so they have many more in-built methods to add, remove, or modify elements.

Ans 3:-
The data set in Python that does not allow duplicate values is called a set.

In Python, a set is an unordered collection of unique elements. This means that each element in a set must be unique. If you try to add a duplicate element to a set, it will simply be ignored.
code using a set to remove
duplicates from the given list is
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [7]:
set1= {1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4}
print(set1)

{1, 2, 3, 4}

Ans4 :-
Both union() and update() methods are used for combining two sets in Python. The main difference between them is that 
union() method returns a new set containing all the unique elements from both sets, while update() method adds all the 
unique elements from the second set to the first set.

Here are the examples of both methods:

Example using union() method:

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In this example, we have two sets set1 and set2 containing some common elements. We then use the union() method to
combine both sets and store the result in set3. As a result, set3 contains all the unique elements from both set1 and
set2.

Example using update() method:

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In this example, we have two sets set1 and set2 containing some common elements. We then use the update() method to add all the unique elements from set2 to set1. As a result, set1 now contains all the unique elements from both set1 and set2.

To summarize, the union() method returns a new set containing all the unique elements from both sets, while update() method adds all the unique elements from the second set to the first set.

In [ ]:
Ans5 :- A dictionary is a type of data structure in python programming that stores data in key-value pairs.
In a dictionary, each key maps to a corresponding value, which can be any type of data such as strings, integers, or even 
other dictionaries.

Here is an example of a dictionary

In [10]:
mydict={'lionel':10, 'iniesta':8}
print(mydict)

{'lionel': 10, 'iniesta': 8}

In this example, the keys are "lionel" and "iniesta", and their corresponding values are 10 and 8 respectively.

Dictionaries in Python are unordered, which means that the order in which the items are added to the dictionary is not preserved. However, dictionaries have been guaranteed to maintain the insertion order of their items.

Ans6 :-Yes, we can create a nested dictionary in Python. A nested dictionary is a dictionary that contains another dictionary as its value. Here is an example of a simple one-level nested dictionary:

In [13]:
my_dic={'leo':{'messi':10,'iniesta':8}}

In [14]:
my_dic

{'leo': {'messi': 10, 'iniesta': 8}}

In this example, the outer dictionary has only one key "leo", which maps to an inner dictionary. The inner dictionary 
contains two keys "messi" and "iniesta", and their corresponding values 10 and 8, respectively.

Ans7 :-

In [16]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [22]:
dict1.setdefault("topics", ['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Ans8 :- The main view objects of dictionary in python are keys, values and items.

* keys

In [24]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [25]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

* values

In [27]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [28]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

* items

In [29]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [30]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])