In [1]:
a=10

In [5]:
type(a)

int

In [6]:
int(123)

123

In [7]:
print('hello world')

hello world

In [8]:
print(123)

123

In [10]:
age=25
print('my age is:',age)

my age is: 25

In [13]:
print(f'my age is:{age}')

my age is:25

In [14]:
name='ayush'
age=25

In [15]:
print('my name is {} and my age is{}'.format(name,age))

my name is ayush and my age is25

In [16]:
print('my name is {firstname} and my age is{firstage}'.format(firstname=name,firstage=age))

my name is ayush and my age is25

In [3]:
name='ayush'
age=25
degree='bba'

In [21]:
print('my age is {} and i have completed the degree of {} with the name of {}'.format(age,degree,name))

my age is 25 and i have completed the degree of bba with the name of ayush

In [4]:
print(f'my age is {age} and i have completed the degree of {degree} with the name of {name}')

my age is 25 and i have completed the degree of bba with the name of ayush

control flow
### decision making statements

In [9]:
##if statement
==<=>=

'==<=>='

In [13]:
age=19
if age>=18:
    print('you are eligible to vote')

you are eligible to vote

In [17]:
age=int(input('enter your age'))
if age>=18 and age<=45:
    print('you are young blood')

enter your age 45

you are young blood

In [18]:
## if else statement

In [20]:
age=int(input('enter your age'))
if age>=18 and age<=45:
    print('you are young blood')
else:
    print('thank you , your application is rejected')

enter your age 42

you are young blood

In [25]:
price=int(input('enter the product price'))
if price>1000:
    print('the product price is {}'.format(price*.80))
if price<=1000:
    print('the product price is {}'.format(price*.70))

enter the product price 1000

the product price is 700.0

In [31]:
price=int(input('enter the product price'))
if price>3000:
    print('the product price is {}'.format(price*.80))
elif price>=2000 and price<=3000:
    print('the product price is {}'.format(price*.70))
else:
    price<=1000 and price<=2000
    print(f'the price of product is {price*.60}')

enter the product price 44

the price of product is 26.4

In [1]:
price=int(input('enter the product price'))
if price>3000:
    if price==4000:
        print('you will get a goa trip')
    print('the product price is {}'.format(price*.80))
elif price>=2000 and price<=3000:
    if price==2999:
        print('you will get an additional gift')
    print('the product price is {}'.format(price*.70))
elif price>=100 and price<=2000:
    print(f'the price of product is {price*.60}')
else:
    price<100
    print('drink tea')

enter the product price 80

drink tea

In [2]:
# Single statement suites

In [4]:
val=int(input('enter your number'))
if (val<=1000):print('your no. is less than 1000')
else:
    print('nothing')

enter your number 8246

nothing